/* Animations for text in the Hero section */
.animate-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
}

.animate-text:nth-child(1) {
    animation-delay: 0.5s;
}

.animate-text:nth-child(2) {
    animation-delay: 1s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Project card animations */
.project-card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate-card {
    animation: fadeInUp 0.5s ease forwards;
}

/* Navigation item styles */
.nav-item.active {
    color: hsl(260, 100%, 80%);
    text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
}

.nav-item:not(.active):hover {
    color: rgba(255, 255, 255, 0.87);
}

.nav-item:hover .subicon {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    top: -16px;
    right: -16px;
    border-color: white;
}

/* Ensure sections are initially hidden for animation */
.section {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.section.visible {
    opacity: 1;
}